body, html {
	height: 100%;
}

.first-section {
	height: 100%;
	background-image: url(img/background.jpg);

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.topright {
	position: absolute;
	top: 10px;
	right: 16px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: 900;
	letter-spacing: 1px;
	text-decoration: none;
	-webkit-text-stroke: 1px #3D5054;
}

.first-section a:link {
	color: #EFE7DA;
	background-color: transparent;
}

.first-section a:visited {
	color: #EFE7DA;
	background-color: transparent;
}

.first-section a:hover {
	color: #D9885D;
	background-color: transparent;
}

#outer {
	width: 100%;
	height: 100vh;
	display: flex;
	text-align: center;
}
  
#inner {
	margin: auto;
}
  
h2 {
	color: #D9885D;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 44px;
	font-weight: 900;
	letter-spacing: 1px;
}

.first-section span {
	color: #3D5054;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 1px;
}


/* second section */

.second-section {
	padding-top: 10%;
	padding-bottom: 10%;
	background: #EFE7DA;
}

.second-section h1 {
	font-weight: 200;
	font-size: 24px;
	color: #3D5054;
}

/* third section */

.third-section {
	padding-top: 5%;
	padding-bottom: 5%;
}

.third-section h2{
	padding-bottom: 5%;
}

.feature {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	margin-bottom: 5%;
	background-color: #EFE7DA
}

.feature .left {
	-moz-flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

.feature .right {
	-moz-flex-direction: row-reverse;
	-webkit-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.feature .image {
	width: 48%;
}

.feature .image img {
	max-width: 100%;
}

.feature .content {
	padding: 2% 3% 2% 3%;
	width: 52%;
	background-color: #EFE7DA;
}

@media screen and (max-width: 1280px) {

	.feature {
		margin-bottom: 4em;
	}

	.feature .content {
		padding: 1em 2em 0.1em 2em;
	}

}

@media screen and (max-width: 980px) {

	.feature.left, .feature.right {
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.feature .image {
		width: 100%;
	}

	.feature .image img {
		width: 100%;
	}

	.feature .content {
		padding: 2em 2em 0.1em 2em;
		width: 100%;
	}

}

@media screen and (max-width: 736px) {

	.feature {
		margin-bottom: 2em;
	}

	.feature .content {
		padding: 2em 1em 0.1em 1em;
	}

}

p {
	color: #3D5054;
}

.feature a:link {
	color: #3D5054;
	background-color: transparent;
}

.feature a:visited {
	color: #DF9F33;
	background-color: transparent;
}

.feature a:hover {
	color: #D9885D;
	background-color: transparent;
}
  

/* footer */

footer {
	text-align: center;
	background-image: url(img/footer.png);
	background-size: cover;
	width: 100%;
	background-repeat: no-repeat;
	padding: 11% 0% 4% 0%;
}

footer ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

footer ul li {
	display: inline-block;
	margin: 0 3px;
}

footer ul li a {
	font-size: 30px;
	color:#D9885D;
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #EFE7DA;
	border-radius: 50%;
}

footer ul li a:hover {
	background-color: #D9885D;
	color: #F6CBBA;
	transition: all 0.3s;
}

footer a {
	color: #F7F9FB;
}

footer a:hover {
	color: #F6CBBA;
}
