ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

/* first section */

.col {
	float: left;
	width: 30%;
	padding: 10px;
}

/* Clear floats after the columns */
.r:after {
	content: "";
	display: table;
	clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.col {
		width: 100%;
	}
}

.image {
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	padding-top: 5%;
}
				
.circular-portrait {
	border-radius: 50%;
	width: 250px;
	height: 250px;
}

.first-section {
	background-image: url(img/mountains.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 10% 0% 30% 0%;
}

.first-section .text-content span {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 1px;
}

.first-section .text-content {
	text-align: left;
    color: #F7F9FB;
	font-size: 44px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 1px;
}

.first-section .text-content h2 {
	margin-block-start: 10%;
	margin-block-end: 10%;;
}


.first-section ul {
	padding: 0;
	margin: 0;
	margin-top: 2%;
	list-style: none;
}

.first-section ul li {
	display: inline-block;
	margin: 0 3px;
}

.first-section  ul li a {
	font-size: 16px;
	color: #E98074;
	display: inline-block;
	width: 38px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	background-color: #F7F9FB;
	border-radius: 50%;
}

.first-section ul li a:hover {
	background-color: #E98074;
	color: #E85A4F;
	transition: all 0.3s;
}

.first-section a {
	color: #F7F9FB;
}

.first-section a:hover {
	color: #E85A4F;
}

/* second section */

.second-section {
	padding-top: 10%;
	padding-bottom: 5%;
	padding-left: 10%;
}

.second-section h1 {
	padding-left: 6%;
	font-weight: 200 ;
}

.second-section .row {
	padding-top: 5%;
}

.second-section h2 {
	color: #E85A4F;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: -10%;
	padding-left: 6%;
}

.second-section .service-item .icon img {
	width: 20%;
	overflow: hidden;
}

.second-section h4 {
	color: #E98074;
	text-align: center;
}

.second-section h3 {
    padding-left: 6%;
    padding-bottom: 2%;
	margin-top: 0%;
	color: #E85A4F;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
    letter-spacing: 1px;
}

.column {
  float: left;
  width: 33%;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column  {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column  {
    width: 100%;
  }
}

/* third section */

.wrapper h4 {
	color: #E85A4F;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
    letter-spacing: 1px;
}

.wrapper h2 {
	color: #E98074;
}

.wrapper {
	padding: 2% 0% 2% 0%;
	position: relative;
}

.wrapper > .inner {
	margin: 0% auto;
	width: 70%;
}

.wrapper.style1 {
	background-color: #EEE;
	color: #777;
}

.wrapper.style1 a {
	color: #E85A4F;
}

.feature {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	margin-bottom: 5%;
}

.feature .left {
	-moz-flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

.feature .right {
	-moz-flex-direction: row-reverse;
	-webkit-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.feature .image {
	width: 48%;
}

.feature .image img {
	max-width: 100%;
}

.feature .content {
	padding: 2% 3% 2% 3%;
	width: 52%;
}

@media screen and (max-width: 1280px) {

	.feature {
		margin-bottom: 4em;
	}

		.feature .content {
			padding: 1em 2em 0.1em 2em;
		}

}

@media screen and (max-width: 980px) {

	.feature.left, .feature.right {
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.feature .image {
		width: 100%;
	}

		.feature .image img {
			width: 100%;
		}

	.feature .content {
		padding: 2em 2em 0.1em 2em;
		width: 100%;
	}

}

@media screen and (max-width: 736px) {

	.feature {
		margin-bottom: 2em;
	}

		.feature .content {
			padding: 2em 1em 0.1em 1em;
		}

}

.feature {
	background-color: rgba(144, 144, 144, 0.075);
}


/* footer */

footer {
	text-align: center;
	background-image: url(img/footer.png);
	background-size: cover;
	width: 100%;
	background-repeat: no-repeat;
	padding: 11% 0% 4% 0%;
}

footer ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

footer ul li {
	display: inline-block;
	margin: 0 3px;
}

footer ul li a {
	font-size: 16px;
	color: #E98074;
	display: inline-block;
	width: 38px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	background-color: #F7F9FB;
	border-radius: 50%;
}

footer ul li a:hover {
	background-color: #E98074;
	color: #E85A4F;
	transition: all 0.3s;
}

footer p {
	margin-top: 20%;
	font-size: 13px;
	font-weight: 300;
	letter-spacing: 0.2px;
	color: #F7F9FB;
}

footer em {
	font-style: normal;
	font-weight: 600;
}

footer a {
	color: #F7F9FB;
}

footer a:hover {
	color: #E85A4F;
}
