ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

body {
	font-family: 'Open Sans', sans-serif;
}

/* first section */

.first-section {
	background-image: url(img/header.png);
	background-size: cover;
	width: 100%;
	background-repeat: no-repeat;
	padding: 20% 0px 20% 0px;
}

.first-section .text-content {
	text-align: right;
    color: #fff;
    padding-right: 10%;
}

.first-section .text-content h2 {
	font-size: 44px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 1px;
}

.first-section .text-content .line-dec {
	width: 60px;
	height: 3px;
	background-color: #fff;
	margin: 25px 0px 25px auto;
}

.first-section .text-content span {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 1px;
}

/* second section */

.second-section {
    padding: 100px 0px;
    padding-bottom: 20%;
}

.second-section h3 {
	font-size: 24px;
    color: #1f4060;
    padding-left: 7%;
    padding-bottom: 2%;
    margin-top: -10%;
}

.second-section .service-item {
	text-align: center;
}

.second-section .service-item .icon img {
    width: 20%;
    height: auto;
	overflow: hidden;
}

.second-section h4 {
	font-size: 16px;
	color: #1f4060;
	margin-top: 25px;
	margin-bottom: 15px;
}

.second-section .container .row .service-item {
    margin-right: -20px;
}

.service-item {
    box-sizing: border-box;
    width: 25%;
    padding-right: 20px;
    float: left;
}


/* third section */

.third-section {
	background-size: cover;
	width: 100%;
	background-repeat: no-repeat;
    padding: 10% 0px;
    background-color: #1f4060;
}

.third-section h4 {
	margin-top: 60px;
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
    letter-spacing: 1px;
    padding-left: 7%;
}


/* footer */

footer {
	text-align: center;
	background-image: url(img/footer-bg.png);
	background-size: cover;
	width: 100%;
	background-repeat: no-repeat;
	padding: 11% 0px 4% 0px;
}

footer ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

footer ul li {
	display: inline-block;
	margin: 0 3px;
}

footer ul li a {
	font-size: 16px;
	color: #415b90;
	display: inline-block;
	width: 38px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	background-color: #fff;
	border-radius: 50%;
}

footer ul li a:hover {
	background-color: #22304d;
	color: #415b90;
	transition: all 0.3s;
}

footer p {
	margin-top: 20px;
	font-size: 13px;
	font-weight: 300;
	letter-spacing: 0.2px;
	color: #fff;
}

footer em {
	font-style: normal;
	font-weight: 600;
}

footer a {
	color: #fff;
}

footer a:hover {
	color: #3CF;
}